<tr>
	<td>
		<%= city_result.name %>, 
		<%= city_result.region.name %>, 
		<%= city_result.country.name %> </td>
	<td>		
		<%= link_to 'Add To Trip', new_trip_stop_path(@trip, 
												country_id: city_result.country.id,
												region_id: city_result.region.id,
												city_id: city_result.id), class: "btn btn-primary btn-xs" %>
	</td>
</tr>


<% if params[:controller] == 'stops' and params[:action] == 'search_stop' %>
	<% session[:search_stop_switch] = "on" %>
<% end %>