<div class="row">
	<div class="col-md-4">
		<h1>
			My Trips 
			<%= link_to 'Create A New Trip', new_trip_path, class: "btn btn-primary btn-sm" %>
		</h1>

		<% if @current_user.trips.blank? %>
			<p>You don't have any trip.</p>
		<% else %>
			<%= render @current_user.trips %>
		<% end %>
	</div>
	<div class="col-md-8">
		
	</div>	
</div>

