<div class="aligned-center">

<div class="container-headline text-center">
	
	<h1>Plan The Perfect Trip</h1>
	<p>Discover Hundreds Of Proven Trip Itineraries And Create Your Own</p>

	<div class="parent">
		<div class="child">

			<%= link_to 'Start Now', new_trip_path, class: "btn btn-warning btn-lg btn-cta" %>
			
		</div>
	</div>
</div>

</div>

<div id="bg">
	<%= image_tag("#{1+rand(20)}.jpg") %>
</div>
<div id="darken">
</div>


